<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a routerLink="/recipes">All Recipes</a>
  <div class="dropdown">
    <button class="dropbtn">Categories</button>
    <div class="dropdown-content">
      <a (click)="selectCategory('Breakfast')">Breakfast</a>
      <a (click)="selectCategory('Lunch')">Lunch</a>
      <a (click)="selectCategory('Dinner')">Dinner</a>
    </div>
  </div>
  <a routerLink="/myRecipes" *ngIf="isSignedIn">My Recipes</a>
  <a routerLink="/addRecipe" *ngIf="isSignedIn">Add Recipe</a>
  <a routerLink="/register" *ngIf="!isSignedIn">Register</a>
  <a routerLink="/login" *ngIf="!isSignedIn">Login</a>
  <a class="logout" style="float: right;" (click)="logout()" *ngIf="isSignedIn">Logout</a>
</div>