<div class="container">nChange
    <div class="screen">
        <div class="content">
            <form class="login">
                <div class=centered-div>                                                                                  
                    <input type="text" id="name" name="Name" class="input" value="recipeName" placeholder="RecipeName"/>                                                          
                </div>
                <div class=centered-div>                                
                    <input type="text" name="Image" class="input" placeholder="Recipe Image" value="recipeImage"/>                           
                </div>
                <div class="selectField">
                    <div>Category: </div>
                <select name="Category" value="category">
                    <option value="">Select</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Dessert">Dessert</option>
                </select>
                </div>
                <div class=centered-div>                                
                    <input type="number" name="Preparation" class="input" placeholder="Preparation Time" value="timeToPrepare" />                          
                </div>
                <div class=centered-div>                                
                    <input type="number" name="Servings" class="input" placeholder="Servings" value="servings"/>                           
                </div>
                <div class="ingredients">
                    <div class="ingredientsTitle">Ingredients</div>
                    <input type="text" name="Ingredient" class="ingredient" placeholder="Ingredient" value="ingredient">
                    <input type="number" name="Quantity" class="quantity" placeholder="Quantity" value="quantity">
                    <button type="button" onClick="addIngredient" class="ingredientsBtn">Add Ingredient</button>
                    <div class="allIngredients">                        
                    </div>
                </div>
                <div class=centered-div>
                    <div class="description">Description</div>                                
                    <textarea class="textArea" name="Description" type="text" value="description"></textarea>                      
                </div>
                    <button class="submit" type='submit'>
                        <span class="text">Add Recipe</span>
                    </button>
            </form>
        </div>
    </div>
</div>
  
