<div class="container">
    <div class="screen">
        <div class="content">                        
            <form #loginForm="ngForm" class="login">
                <div class=field>
                    <i class="login__icon fas fa-user"></i>
                    <input type="email" class="input" placeholder="Email" #email>
                </div>
                <div class="field">
                    <i class="icon fas fa-lock"></i>
                    <input type="password" class="input"  placeholder="Password" #password>                   
                </div>
                <button class="submit" (click)="signIn(email.value, password.value)">
                    <span class="text">Log In</span>
                    <i class="icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>
